.navbar {
    background-color: lightblue;
}

.navbar .item {
    text-align: center;
    cursor: pointer;
}

.navbar .item i {
    margin-top: 15px;
}

.rides {
    margin-top: 20px;
}

.ride {
    min-height: 60px;
    border: 1px solid lightgray;
}

.ride div {
    position: relative;
    bottom: -10px;
}

.ride-wanted {
    background-color: #d6e2ff;
}

.ride-offer {
    background-color: #ffd6d9;
}

#route {
    position: relative;
    left: -7px;
}
.fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullscreen .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}